<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova entrega foi destinada para você. Você pode olhar os detalhes abaixo:</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Destinatário: </strong> <br />
    &ensp; <span>Nome do destinatário: {{ name }}</span> <br />
    &ensp; <span>CEP: {{ cep }}</span> <br />
    &ensp; <span>Número: {{ number }}</span> <br />
    &ensp; <span>Complemento: {{ complement }}</span> <br />
  <br />
  <small>
    Verifique na plataforma para mais detalhes.
  </small>
</p>
